{% extends "QoR/head.html" %}
{% load static %}
{% csrf_token %}
{% block head_title %}
<title>create_medsheet</title>
{% endblock %}

{% block body_block %}
<div class="main">
    <form action = "{% url 'create_medsheet' %}" method="POST" >
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
            <input type="submit" value="送信" class="shadow-lg bg-red-500 shadow-red-500/50 text-white rounded px-2 py-1">
    </form>

    <a href="{% url 'index' %}">トップページに戻る</a>
</div>
{% endblock %}