{% load static %}
{% csrf_token %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>model_check</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<div class="main">
    <h1>model_check</h1>

    <p>Your name : {{ user.username }}</p>
    <small>User ID : {{user.id}}</small>
    <h1>{{ title }}</h1>

    <table>
            <tr>
                <th>問診票ID</th>
                <th>user_id</th>
                <th>名前</th>
                <th>フリガナ</th>
                <th>来院日</th>
                <th>誕生日</th>
                <th>理由</th>
                <th>いつ頃から</th>
                <th>持病</th>
                <th>服用薬</th>
                <th>アレルギー</th>
                <th>その他</th>
            </tr>
        {% for i in medcal_sheets %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.user_id}}</td>
                <td>{{i.name}}</td>
                <td>{{i.name2}}</td>
                <td>{{i.visited_day}}</td>
                <td>{{i.birthday}}</td>
                <td>{{i.reason}}</td>
                <td>{{i.since_date}}</td>
                <td>{{i.had_illnesses}}</td>
                <td>{{i.medicine_taken}}</td>
                <td>{{i.allergy1}}</td>
                <td>{{i.other1}}</td>
            </tr>
        {% endfor %}

    </table>

    <a href="{% url 'index' %}">トップページに戻る</a>
</div>
</body>
</html>