{% csrf_token%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>camera</title>
</head>
<body>
    {% block content %}
    <div>
        <div id="image_area">
            <img src="video_feed" width="810" height="540"/>
        </div>
    </div>
    <script>


    </script>
    {% endblock %}
</body>
</html>