* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

div.center {
	text-align: center;
}

.main {
	width: 100%;
	background: #fff;
	padding: 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 3rem;
}

.logo {
	color: white;
	font-size: 22px;
	margin-right: auto;
	margin-left: 20px;
}

.nav-header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #ffbc14;
	top: 0;
	left: 0;
	width: 100%;
	position: fixed;
	box-shadow: 1px 1px 2px #000000;
	z-index: 3;
}

.nav-links a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.nav-links li {
	opacity: 1;
}

.burger {
	cursor: pointer;
	margin-right: 5px;
	display: block;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: white;
	margin: 5px;
}

.nav-active {
	transform: translateX(0%) !important;
}

table {
	table-layout: fixed;
	width:100%;
	border-collapse: collapse;}

tr{
	border: solid 1px;
}

td{
	text-align: center;
	border: solid 1px;
}

th{
	border: solid 1px;
}

.active{
	background-color: #2C7CFF;
	color:white;
	pointer-events: none;
}

.active .page-link{
	border-color: #2C7CFF;
}

.page-item{
	display:flex;
	margin:10px;
}

.page-item li a:visited{
	color: inherit;
}

.page-item li a:hover{
	color: white;
}

.page-link{
	border: solid;
	border-color: gray;
	padding:10px 15px;
	box-shadow: 0px 1px 1px gray;
}

.page-link:hover{
	background-color: #c0c0c0;
	border-color: #c0c0c0;
}

.nav-page{
	display:flex;
	justify-content: center;
}