{% extends "QoR/head.html" %}
{% load static %}


{% csrf_token %}
{% block head_title %}
<title>index</title>
{% endblock %}

{% block body_block%}

    <div class="mr-auto ml-auto pt-10 mb-20">
        <img src="{% static 'img/rogo2.png' %}" >
    </div>

    <br>

    {% if user.is_authenticated %}
    
    <div class="center">
        <p class="mb-16 text-3xl border-b border-yellow-400 py-2">あなたのID: {{ user.username }}</p>
            
            <div class="flex justify-around mb-16">
                <button class="w-32 h-32 md:w-48 md:h-48 md:text-2xl lg:w-80 lg:h-80 lg:text-3xl mx-1 bg-blue-400 bg-gradient-to-b from-blue-600 text-lg text-white font-semibold rounded-full hover:bg-blue-500 shadow-lg">
                    <a href="{%url  'user_result' pk=user.id %}">診断結果を表示</a>
                </button>

                <button class="w-32 h-32 md:w-48 md:h-48 md:text-2xl lg:w-80 lg:h-80 lg:text-4xl mx-1 bg-orange-400 bg-gradient-to-b from-orange-600 text-lg text-white font-semibold rounded-full hover:bg-orange-500 shadow-lg">
                    <a href="{% url 'create_medsheet' %}">問診票の入力</a>
                </button>
                
                <button class="w-32 h-32 md:w-48 md:h-48 md:text-3xl lg:w-80 lg:h-80 lg:text-4xl mx-1 bg-gray-400 bg-gradient-to-b from-gray-600 text-lg text-white font-semibold rounded-full hover:bg-gray-500 shadow-lg">
                    <a href="{% url 'logout' %}">ログアウト</a>
                </button>
            </div>

            <!--
            <button class="my-2 px-4 py-2 border-2 border-blue-500 rounded-md bg-gradient-to-b from-blue-600 to-blue-400 text-white shadow-lg">
            <a href="{% url 'video_feed' %}">video_feed</a>
            </button>
        -->

        {% else %}

        <div class="center">
            
            <p class="mb-16 text-2xl border-b border-yellow-400 py-2">個人データを見るためにはログインしてください</p>
                
            <div class="flex justify-around mb-16">
                <button class="w-32 h-32 md:w-48 md:h-48 md:text-3xl lg:w-80 lg:h-80 lg:text-4xl mx-1 bg-blue-400 bg-gradient-to-b from-blue-600 text-lg text-white font-semibold rounded-full hover:bg-blue-500 shadow-lg">
                    <a href="{% url 'login' %}">ログイン</a>
                </button>
    
                <button class="w-32 h-32 md:w-48 md:h-48 md:text-2xl lg:w-80 lg:h-80 lg:text-4xl mx-1 bg-green-400 bg-gradient-to-b from-green-600 text-lg text-white font-semibold rounded-full hover:bg-green-500 shadow-lg">
                    <a href="{%url 'signup' %}">新規の方は<span class="inline-block">こちらから</span></a>
                </button>
                
                <button class="w-32 h-32 md:w-48 md:h-48 md:text-2xl lg:w-80 lg:h-80 lg:text-4xl mx-1 bg-orange-400 bg-gradient-to-b from-orange-600 text-lg text-white font-semibold rounded-full hover:bg-orange-500 shadow-lg">
                    <a href="{% url 'create_medsheet' %}">問診票の入力</a>
                </button>
            </div>

            <!--
            <button class="my-2 px-4 py-2 border-2 border-blue-500 rounded-md bg-gradient-to-b from-blue-600 to-blue-400 text-white shadow-lg">
            <a href="{% url 'video_feed' %}">video_feed</a>
            </button>
        -->
        </div>

        {% endif %}

        
    </div>
{% endblock %}
