<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>ログイン</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <div class="absolute w-2/3 top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 ">

    <div class="mb-4 text-center text-lg text-blue-500 tracking-widest font-bold">
      ログイン
    </div>

    <div class="border shadow-md">
      <div class="px-4 pb-6 pt-2">

        {% if form.errors %}
        <p class="text-red-500">正しいユーザネームとパスワードを入力してください</p>
        {% endif %}
        <form method="post" novalidate>
          {% csrf_token %}
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">ユーザネームを入力してください</label>
            {{ form.username }}
          </div>
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">パスワード</label>
            {{ form.password }}
          </div>
        
          <div class="shadow-md bg-blue-500 text-center border border-blue-800 rounded mt-10 py-2">
            <input type="submit" value="ログイン" class="text-white" />
          </div>
          <div class="shadow-md bg-green-500 text-center border border-green-800 rounded mt-2 py-1">
            <a href="{% url 'signup' %}" class="text-white">新規の方はこちら</a>
          </div>
        </form>


        <div class="shadow-md bg-gray-500 text-center border border-gray-800 rounded mt-10 py-1">
          <a href="{% url 'index' %}" class="text-white">トップページに戻る</a>
        </div>

      </div>
    </div>
  </div>

</body>

</html>