<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>サインアップ</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="absolute w-2/3 top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4 ">

    <div class="mb-4 text-center text-lg text-blue-500 tracking-widest font-bold">
      アカウント作成
    </div>

    <div class="border shadow-md">
      <div class="px-4 pb-6 pt-2">
        <form method="post" novalidate>
          {% csrf_token %}
          
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">氏名</label>
            <div class="w-full flex justify-between">
              {{form.last_name }}
              {{form.first_name }}
            </div>
          </div>
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">ユーザネーム</label>
            {{form.username }}
            {% if form.username.errors %}
            <p class="text-red-500">ユーザ名を入力してください</p>
            {% endif %}
          </div>
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">メールアドレス</label>
            {{form.email }}
            {% if form.email.errors %}
            <p class="text-red-500">メールアドレスを入力してください</p>
            {% endif %}
          </div>
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">パスワード</label>
            {{form.password1 }}
            {% if form.password1.errors %}
            <p class="text-red-500">パスワードを入力してください</p>
            {% endif %}
          </div>
          <div class="mb-6 mt-2">
            <label class="text-gray-800 text-sm">再度パスワードを入力</label>
            {{form.password2 }}
            {% if form.password2.errors %}
            <p class="text-red-500">確認のため、パスワードを再度入力してください</p>
            {% endif %}
          </div>

          <div class="shadow-md bg-green-500 text-center border border-green-800 rounded mt-10 py-2">
            <button type="submit" class="text-white">アカウント作成</button>
          </div>
        </form>

        <div class="shadow-md bg-gray-500 text-center border border-gray-800 rounded mt-2 py-1">
          <a href="{% url 'index' %}" class="text-white">トップページに戻る</a>
        </div>

      </div>
    </div>
  </div>
</body>

</html>