{% extends "hospital/head.html" %}
{% load static %}
<!-- 病院側患者画面 -->

{% block head_title %}
<title>患者一覧</title>
{% endblock %}

{% block body_block %}

<div class="main">

    <div class="text-white-300 bg-blue-500 p-4 text-xl mb-2 text-white items-center flex">
        <img src="{% static 'img/patient-32-white.png' %}" class="w-7 h-7 mr-1">
        患者一覧画面
    </div>

    <br>
    <p>※IDを選択することで詳細の表示・カルテの作成・処方箋の記入ができます。</p>
    <br>
    
    <div class="tab-pane fade" id="tabs-messages" role="tabpanel" aria-labelledby="tabs-profile-tab">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center">
                        <thead class="border-b bg-gray-800">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    患者ID</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    氏名</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    登録日時</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    最終ログイン日時</th>
                            </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b">
                                    {% for user in user_list %}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        <a href="{% url 'qor_app:patient_detail' pk=user.id %}">{{ user.id }}</a></td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{user.last_name}} {{user.first_name}}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{ user.date_joined }}</td>
                                    {% if user.last_login %}
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap justify-center">
                                        {{ user.last_login }}</td>
                                    {% else %}
                                        <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap justify-center">
                                        ログイン履歴なし</td>
                                    {% endif %}
                                    </tr>
                                    {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <nav class="nav-page">
        <ul class="page-item">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
        
            {% for num in page_obj.paginator.page_range %}
                {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        
        </ul>

    </nav>

</div>
{% endblock %}