{% extends "hospital/head.html" %}
{% load static %}
<!-- 病院側患者詳細画面 -->

{% block head_title %}
<title>患者詳細</title>
{% endblock %}

{% block body_block %}
<div class="main">

    <section class="text-gray-600 body-font mb-10">
        <div class="flex items-center mx-auto sm:flex-row flex-col">
          <div class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 flex-shrink-0">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sm:w-16 sm:h-16 w-10 h-10" viewBox="0 0 24 24">
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-gray-900 text-lg title-font font-medium mb-2">User name : {{ user.username }}</h2>
            <p class="leading-relaxed text-base">
              {% if user.get_username == user.username %}
              <p>User ID : {{user.id}}</p>
              <p>email : {{user.email}}</p>
              <p>last_login : {{user.last_login}}</p>
              <p>account create day : {{user.date_joined}}</p>
              {%endif%}</p>
          </div>
        </div>
    </section>

    <div class="tab-pane fade" id="tabs-messages" role="tabpanel" aria-labelledby="tabs-profile-tab">
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-4 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center">
                        <thead class="border-b bg-gray-800">
                            <tr>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    問診票ID</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    訪問理由</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    訪問日</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    持病</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    服役薬</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    アレルギー</th>
                                <th scope="col" class="text-sm font-medium text-white px-6 py-4">
                                    その他</th>
                            </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-white border-b">
                                    {% for medical_sheet in page_obj %}
                                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        {{ medical_sheet.id }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{ medical_sheet.reason }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{ medical_sheet.since_date }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{ medical_sheet.had_illnesses }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{ medical_sheet.medicine_taken }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                                        {{ medical_sheet.allergy1 }}</td>
                                    <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap justify-center">
                                        {% if medical_sheet.chart.id %}
                                            <a class="p-2 bg-green-300 rounded hover:bg-green-600 hover:text-white" href="{% url 'qor_app:chart_detail' pk=medical_sheet.chart.id %}">カルテ閲覧</a></td>
                                        {% else %}
                                            <a class="p-2 bg-gray-300 rounded hover:bg-gray-600 hover:text-white" href="{% url 'qor_app:chart_create' pk=medical_sheet.id %}">カルテを記入</a></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <nav class="nav-page">
        <ul class="page-item">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
        
            {% for num in page_obj.paginator.page_range %}
                {% if num <= page_obj.number|add:5 and num >= page_obj.number|add:-5 %}

                    {% if page_obj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <!-- 次へ の部分 -->
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        
        </ul>

    </nav>
</div>

{% endblock %}