{% extends "hospital/head.html" %}
{% load static %}
<!-- QoRの仕組み説明 -->

{% block head_title %}
<title>QoRとは</title>
{% endblock %}

{% block body_block %}

<div class="main">

    <h1 class="flex items-center">
        <img src="{% static 'img\img3.png' %}" class="w-3/4  mr-auto ml-auto">
    </h1>
    <br>
    <br>
    <div class="text-2xl">
        <P class="object-center">QoRとは、患者様と病院側をつなぐ架け橋になるアプリです。</P>
        <P>QoRを入れていただくことで、
        患者様が毎回受診のためにご提示頂いている診察券をこのアプリ内で提示、</P>
        <p>病院にあるQRコードをQoR内のカメラで読み込みして頂くことによって、</p>
        <P>患者様に問診票をスマートフォンで入力して頂き、入力していただいた内容を
        このアプリ内で確認することができます。</P>
        <p>また、患者様の過去の診察を確認することができ、「いつ」「どのような症状か」などの診察結果
        を表示することができます。</p>
    </div>
    <br>
    <div class="flex items-center">
        <img src="{% static 'img\img1.png' %}" class="w-3/4  mr-auto ml-auto">
    </div>
    <div class="text-2xl">
        <br>
        <h1>患者様から医師にできること。</h1>
        <p>①保険証の提示</p>
        <p>保険証の実物を持っていない場合であっても、QoRに登録を行っていることによって実物を持っていない状態でも利用していただくことができます。</p>
        <p>②問診票の提出</p>
        <p>問診票をQRコードから読み込みいただくことによって、スマートフォンからご回答・ご提出いただけます。</p>
        <p>③過去の診療状態</p>
        <p>過去に病院に通院した際の診療結果及びそれに関する事柄をご確認いただけます。</p>
        <br>
        <h2>医師から患者様にできること。</h2>
        <p>
        <p>①健康状態の確認</p>
        <p>過去に病院に通院した際の診療結果及びそれに関する事柄をご確認いただけます。</p>
        <p>②運動状態の確認</p>
        <p>いつ・どこで・どのくらいの運動を行ったかを計測・記録することができます。</p>
        <p>③お薬類の詳細</p>
        <p>今どの薬が処方されており、どのようなくすりであり、いつに何錠摂取するかを確認することができます。</p>
    </div>
    <br>

</div>


{% endblock %}